@include desktop {

}

@include laptor {
    body {
        font-size: 14px;
    }

    .container {
        max-width: none;
        padding: 0 5vw; 
    }

    .header {

        &__nav-list {
            display: none;
        }

        &__actions {
            display: none;
        }
    }

    .burger {
        display: block;
    }

    .main {
        &__promo {
            height: 559px - 75px;
        }

        &__promo-content {
            display: flex;
            flex-direction: column;
            gap: 21px;
        }

        &__promo-title {
            width: 385px;

            font-size: 48px;
            line-height: 63.8px;
        }

        &__promo-text {
            width: 280px;
            font-size: 18px;
        }

        &__promo-actions {
            gap: 20px;
        }

        &__promo-img {
            width: 352px;
        }
    }
}

@include tablet {
    body {
        font-size: 12px;
    }

    .header {
        &__book-a-demo {
            width: 110px;
        }
    }

    .main {
        &__promo {
            height: 559px - 75px;
        }

        &__promo-content {
            gap: 21px;
        }

        &__promo-title {
            width: 485px;

            font-size: 48px;
            line-height: 63.8px;
        }

        &__promo-text {
            width: 320px;
            font-size: 18px;
        }

        &__promo-actions {
            gap: 18px;
        }

        &__promo-img {
            display: none;
        }
    }

    .button{
        &--bigger {
            width: 150px;
            height: 40px;
        }
    }
}

@include mobile {
    body {
        font-size: 12px;
    }

    .container {
        max-width: none;
        padding: 0 4vw; 
    }

    .header {
        &__logo {
            img {
                max-height: 40px; 
            }
        }
    }

    .main {
        &__promo {
            height: 559px - 75px;
        }

        &__promo-content {
            gap: 25px;
        }

        &__promo-title {
            width: 100%;

            font-size: 45px;
            line-height: 45.8px;
        }

        &__promo-text {
            width: 100%;
            font-size: 18px;
        }

        &__promo-actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            
            margin-top: 35PX;

            font-size: 16px;
        }

        &__promo-img {
            display: none;
        }
    }

    .button{
        &--bigger {
            width: 180px;
            height: 45px;
        }
    }
}