:root {
    --container-width: 1440px,
    --container-padding: 135px,

    --font-size-regular: 15px,
    
    --transition-duration: 0.4s;
}

$breakpoint_desktop: 1200px;
$breakpoint_laptop: 1200px;
$breakpoint_tablet: 1200px;
$breakpoint_mobile: 1200px;