.main__promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 153px;
  height: 584px;
  width: 1130px;
  padding: 155px;
}
.main__promo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
}
.main__promo-title {
  width: 485px;
  font-family: Faunces;
  font-weight: 400;
  font-size: 58px;
  line-height: 63.8px;
}
.main__promo-text {
  width: 380px;
  font-size: 20px;
}
.main__promo-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}