.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 75px;

    &__logo-and-nav {
        display: flex;
        align-items: center;

        flex-shrink: 0;
        flex-grow: 0;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        margin-left: 35px;
        width: 39.06vw;
    }

    &__nav-item {
        transition: all 0.3s ease;
        &:hover {
            color: #0070A0;
        }
    }


    

    &__buttons {
        display: flex;
        align-items: center;
        gap: 30px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__sign-in {
        color: #0070A0;

        transition: all 0.3s ease;
        &:hover {
            color: #000000;
        }
    }

    &__book-a-demo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 140px;
        height: 36px;

        color: #ffffff;

        background-color: #0070A0;

        transition: all 0.3s ease;
        &:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
}