.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 75px;

    &__logo-and-nav {
        display: flex;
        align-items: center;

        flex-grow: 0;
        min-width: 0;
    }

    &__logo {
        flex-shrink: 0;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: 35px;
    }

    &__nav-item {
        white-space: nowrap;

        transition: all 0.3s ease;
        &:hover {
            color: #0070A0;
        }
    }


    

    &__actions {
        display: flex;
        align-items: center;
        gap: 10px;

        flex-shrink: 0;
        flex-grow: 0;
    }

    &__sign-in {
        white-space: nowrap;

        color: #0070A0;

        transition: all 0.3s ease;
        &:hover {
            color: #000000;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 139px;
    height: 36px;

    color: #ffffff;
    white-space: nowrap; 

    background-color: #0070A0;

    transition: all 0.3s ease;
    &:hover {
        background-color: #000000;
        color: #ffffff;
    }

    &--transparent {
        width: 89px;
        height: 36px;

        color: #0070A0;
        background-color: transparent;
        &:hover {
            color: #0070A0;

            border: #0070A0 0.5px solid;
            
            background-color: transparent;
        }
    }

    &--arrow {
    display: inline-flex;
    align-items: center;
    gap: 5px; 

    &:hover {
        border: none;
    }

    &::after {
        content: url(/Study1/img/arrow.svg);
        width: 14px;
        height: 21px;
        display: block;
    }
    }

    &--bigger {
        width: 174px;
        height: 43px;
    }
}

.burger {
    width: 40px;
    height: 40px;
    background-color: #0070A0;
    mask: url(/Study1/img/burger-menu.svg) no-repeat center;
    mask-size: contain;
    -webkit-mask: url(/Study1/img/burger-menu.svg) no-repeat center;
    -webkit-mask-size: contain;

    position: absolute;
    right: 0;

    display: none;

    &:hover {
        cursor: pointer;
        background-color: #000000;
    }
}