.main {
    &__promo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 0;
        flex-shrink: 0;

        height: 659px - 75px; 
    }

    &__promo-content {
        display: flex;
        flex-direction: column;
        gap: 21px;
    }

    &__promo-title {
        width: 485px;

        font-family: Faunces;
        font-weight: 400;
        font-size: 58px;
        line-height: 63.8px;
    }

    &__promo-text {
        width: 380px;

        font-size: 20px;
    }

    &__promo-actions {
        display: flex;
        gap: 24px;
    }
}